In [2]:
import numpy as np
import pandas as pd
data=pd.DataFrame()

In [3]:
data = pd.read_csv("Cereal.csv")

In [4]:
data.to_csv('Cereal.csv')

In [6]:
data.head()

,name,mfr,type,calories,protein,sodium,fiber,carbo,sugars,potass,vitamins,weight,cups,rating
0,Almond Delight,R,C,110,2,200,1.0,14.0,8,NaN,25,1.00,0.75,34.384843
1,Apple Cinnamon Cheerios,G,C,110,2,180,1.5,10.5,10,70.0,25,1.00,0.75,29.509541
2,Apple Jacks,K,C,110,2,125,1.0,11.0,14,30.0,25,1.00,1.00,33.174094
3,Basic 4,G,C,130,3,210,2.0,18.0,8,100.0,25,1.33,0.75,37.038562
4,Bran Chex,R,C,90,2,200,4.0,15.0,6,125.0,25,1.00,0.67,49.120253