In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Cereal.csv")

In [3]:
df.head()

,name,mfr,type,calories,protein,sodium,fiber,carbo,sugars,potass,vitamins,weight,cups,rating
0,Almond Delight,R,C,110,2,200,1.0,14.0,8,NaN,25,1.00,0.75,34.384843
1,Apple Cinnamon Cheerios,G,C,110,2,180,1.5,10.5,10,70.0,25,1.00,0.75,29.509541
2,Apple Jacks,K,C,110,2,125,1.0,11.0,14,30.0,25,1.00,1.00,33.174094
3,Basic 4,G,C,130,3,210,2.0,18.0,8,100.0,25,1.33,0.75,37.038562
4,Bran Chex,R,C,90,2,200,4.0,15.0,6,125.0,25,1.00,0.67,49.120253

In [4]:
df.isna().sum()

name        0
mfr         5
type        6
calories    0
protein     0
sodium      0
fiber       0
carbo       0
sugars      0
potass      8
vitamins    0
weight      0
cups        0
rating      0
dtype: int64

In [5]:
potass_mean = df.potass.mean()

In [6]:
print("Mean of potass column : " , potass_mean)

Mean of potass column :  87.38461538461539

In [7]:
df.potass.fillna(potass_mean,inplace = True)

In [8]:
df.isna().sum()

name        0
mfr         5
type        6
calories    0
protein     0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
weight      0
cups        0
rating      0
dtype: int64

In [9]:
df['mfr'].unique()

array(['R', 'G', 'K', 'P', 'Q', nan, 'A', 'N'], dtype=object)

In [10]:
mfr_mode = df.mfr.mode()[0]

In [11]:
print("Mode for mfr : " , mfr_mode)

Mode for mfr :  G

In [12]:
df.mfr.fillna(mfr_mode , inplace=True)

In [13]:
df.isna().sum()

name        0
mfr         0
type        6
calories    0
protein     0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
weight      0
cups        0
rating      0
dtype: int64

In [14]:
df['type'].unique()

array(['C', nan, 'H'], dtype=object)

In [15]:
type_mode = df.type.mode()[0]

In [16]:
print("Mode for type : " , type_mode)

Mode for type :  C

In [17]:
df.type.fillna(type_mode , inplace=True)

In [18]:
df.isna().sum()

name        0
mfr         0
type        0
calories    0
protein     0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
weight      0
cups        0
rating      0
dtype: int64