In [8]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv("Cereal.csv",header=0)

In [10]:
data.head()

,name,mfr,type,calories,protein,sodium,fiber,carbo,sugars,potass,vitamins,weight,cups,rating
0,Almond Delight,R,C,110,2,200,1.0,14.0,8,NaN,25,1.00,0.75,34.384843
1,Apple Cinnamon Cheerios,G,C,110,2,180,1.5,10.5,10,70.0,25,1.00,0.75,29.509541
2,Apple Jacks,K,C,110,2,125,1.0,11.0,14,30.0,25,1.00,1.00,33.174094
3,Basic 4,G,C,130,3,210,2.0,18.0,8,100.0,25,1.33,0.75,37.038562
4,Bran Chex,R,C,90,2,200,4.0,15.0,6,125.0,25,1.00,0.67,49.120253

In [11]:
categorical=data.select_dtypes(exclude=[np.number])

In [12]:
categorical.head()

                      name mfr type
0           Almond Delight   R    C
1  Apple Cinnamon Cheerios   G    C
2              Apple Jacks   K    C
3                  Basic 4   G    C
4                Bran Chex   R    C

In [14]:
categorical['mfr'].unique()

array(['R', 'G', 'K', 'P', 'Q', nan, 'A', 'N'], dtype=object)

In [15]:
categorical.mfr.value_counts()

G    21
K    19
P     9
R     8
Q     6
N     4
A     1
Name: mfr, dtype: int64

In [17]:
categorical.type.value_counts()

C    64
H     3
Name: type, dtype: int64

In [26]:
categorical.mfr.replace({"G":21 ,"K":19 ,"P":9 ,"R":8 ,"Q":6 ,"N":4 ,"A":1} , inplace=True)

In [27]:
categorical.type.replace({"C":64 ,"H":3 }, inplace=True)

In [28]:
categorical.head()

                      name   mfr  type
0           Almond Delight   8.0  64.0
1  Apple Cinnamon Cheerios  21.0  64.0
2              Apple Jacks  19.0  64.0
3                  Basic 4  21.0  64.0
4                Bran Chex   8.0  64.0