In [1]:
import pandas as pd
import numpy as np

In [3]:
dt = pd.read_csv("london_crime_by_lsoa.csv")

In [4]:
dt.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [5]:
dt.isna().sum()

lsoa_code         0
borough           0
major_category    0
minor_category    0
value             0
year              0
month             0
dtype: int64

In [8]:
dt[dt["lsoa_code"].isnull()]

Empty DataFrame
Columns: [lsoa_code, borough, major_category, minor_category, value, year, month]
Index: []

In [9]:
dt["lsoa_code"].unique()

array(['E01001116', 'E01001646', 'E01000677', ..., 'E01001562',
       'E01002598', 'E01001111'], dtype=object)

In [11]:
cont_mode = dt.lsoa_code.mode()[0]

In [12]:
print("Mode for lsoa_code : " , cont_mode)

Mode for lsoa_code :  E01001010

In [13]:
dt.lsoa_code.fillna(cont_mode , inplace=True)

In [14]:
dt.isna().sum()

lsoa_code         0
borough           0
major_category    0
minor_category    0
value             0
year              0
month             0
dtype: int64